body {background-color:#000;}

h1 {background-color:#2eb82e; color:#fff; text-align: center; font-size: 100px; font-weight: bolder; padding-bottom:20px;}

.mowing-man{border-radius: 50px;}

.container-fluid{text-align: center;}

.quote{color: blue;}


.hr{background-color:#2eb82e;}


.label{color:white;}
.checkbox-text{color:white;};


.btn{margin: 10px;}

.submit{text-align: center; margin-top: 20px; margin-left:-25px;}

p{color:white;}
