.container-fluid{text-align: center;}

.quote{color: blue;}

.container{align-content: center;}

div{color: white; margin: 0 auto; }
#about{font-size: 20px;}
#volunteer{font-size:20px;}

.checkbox-text{color: white;}

.checkbox-container{text-align: center;}

.btn{margin: 10px;}
