body {background-color:#000;}

h1 {background-color:#2eb82e; color:#fff; text-align: center; font-size: 100px; font-weight: bolder; padding-bottom:10px;}


.container-fluid{text-align: center;}

.quote{color: blue;}


.hr{background-color:#2eb82e;}

.container{align-content: center;}

.checkbox-text{color:#fff;}

.checkbox-container{text-align: center;}

.btn{margin: 10px;}
