/*main navigation*/

.nav{display:flex;flex-direction: column;}

.nav a{color:#fff; display:block; font-size: 1.5em; text-align: center; padding:.4em;}

.nav a:hover{color:#2eb82e;border-color:#2eb82e;}


/* ------------
 Media Queries
 -------*/

 @media (min-width: 769px) /* applies these styles when the viewport
   is 769 px or wider */ {
   .nav{margin-top:3em;flex-direction:row;justify-content: space-around;margin:20px;}
   .main-header{height:50px;justify-content: flex-end;}


 }

@media (min-width: 1025px) {
  .
}
